<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>

    <ion-title text-center="text-center">Añadir Empresa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>

<ion-item>

<ion-label position="floating">Nombre de la empresa:</ion-label>

<ion-input placeholder="Nombre de la empresa"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">RFC:</ion-label>

<ion-input placeholder="RFC"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">Telefono:</ion-label>

<ion-input placeholder="Telefono"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">Estado:</ion-label>

<ion-input placeholder="Estado"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">Codigo Postal:</ion-label>

<ion-input placeholder="CP"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">Colonia:</ion-label>

<ion-input placeholder="Colonia"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">Num Exterior:</ion-label>

<ion-input placeholder="#"></ion-input>

</ion-item>

<br>

<ion-item>

<ion-label position="floating">Num Interior:</ion-label>

<ion-input placeholder="#"></ion-input>

</ion-item>

<br>
<br>

<ion-button
expand="block"
class="save"
>Guardar</ion-button>


</ion-content>
