<ion-header [translucent]="true">

    <ion-toolbar color="primary">

      <ion-buttons slot="start">

        <ion-button (click)="toggleMenu()">

          <ion-icon name="list-outline"></ion-icon>          
        </ion-button>

      </ion-buttons>

      <ion-title>
        Lista de Dispositivos
      </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
        <ion-title size="large">
            Blank
        </ion-title>          
    </ion-toolbar>
  </ion-header> -->
  <br>
  <div *ngFor="let data of  bluetoothList">
    <p>{{data.name}}</p>
    <p>{{data.id}}</p>
    <ion-button (click)="connect(data.address)">Conectarse</ion-button>
  </div>
  <br>
  <ion-button (click)="ActivarBluetooth()">Buscar</ion-button>   
</ion-content>